* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0b1216 linear-gradient(to bottom, #20292f 0, #0b1216 500px);
  height: 100vh;
}

.paginator {
  display: flex;
  width: fit-content;
  padding: 0;
}

.paginator li {
  width: 40px;
  font-weight: bold;
  height: 35px;
  margin: 8px;
  border-radius: 5px;
  background: #939da7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.paginator li.selected {
  color: black;
  font-weight: bold;
  background: rgb(86, 86, 112);
}
